html, body {
    min-height: 100%
}

body {
    background: #f6f6f6 url(https://goo.gl/1yhE3P) top center no-repeat;
    background-size: cover;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin: 0
}

#box {
    width: 400px;
    margin: 10% auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.6);
    padding: 20px 50px;
    box-sizing: border-box;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
    border-radius: 2%
}

h1 {
    margin-bottom: 1.5em;
    font-size: 30px;
    color: #484548;
    font-weight: 100;
}

h1 span, small {
    display: block;
    font-size: 14px;
    color: #989598;
}

small {
    font-style: italic;
    font-size: 11px;
}

form p {
    position: relative;
}