<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="/temp/home/ltr-rtl.css">
    <!--===============================================================================================-->
    <title th:text="#{information.home.title}">Information Form</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/temp/register-form/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/temp/register-form/css/style.css">
</head>
<body>
<div th:class="#{direction}">
    <div class="main">
        <div class="container">
            <div class="signup-content">
                <div class="signup-img">
                    <img src="/temp/register-form/images/4401305.jpg" alt="" style="margin-top: 20px">
                </div>
                <div class="signup-form">
                    <form action="#" th:action="${address}" th:object="${user}" method="post" class="register-form"
                          id="register-form">
                        <div th:if="${! address.contains('/admin/show/admin-list')}">
                            <h2 th:text="#{information.home.text.sub-head.if-not-admin}">Information & Edit form</h2>
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="firstname" class="label" th:text="#{register.label.firstname}">Firstname</label>
                                    <input type="text" th:feild="*{firstname}" name="firstname" id="firstname"
                                           th:value="${user.firstname}"
                                           required pattern="[a-zA-Z]{2,50}">
                                    <label th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">firstname
                                        Error</label>
                                </div>
                                <div class="form-group">
                                    <label for="lastname" class="label" th:text="#{register.label.lastname}">Lastname</label>
                                    <input type="text" th:feild="*{lastname}" name="lastname" id="lastname"
                                           th:value="${user.lastname}" required pattern="[a-zA-Z]{2,50}"
                                           title="lastname must be character in size 2-50"
                                           class="input--style-4">
                                    <label th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">lastname
                                        Error</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="username" class="label" th:text="#{register.label.username}">Username</label>
                                <input type="text" th:feild="*{username}" name="username" id="username"
                                       th:value="${user.username}" disabled
                                       class="input--style-4">
                            </div>
                            <div class="form-group">
                                <label for="nationalCode" class="label" th:text="#{register.label.national-code}">National Code</label>
                                <input type="text" th:feild="*{nationalCode}" name="nationalCode" id="nationalCode"
                                       th:value="${user.nationalCode}" required pattern="[0-9]{10}"
                                       title="national code must be digit in size 10"
                                       class="input--style-4">
                                <label th:if="${#fields.hasErrors('nationalCode')}" th:errors="*{nationalCode}">phone
                                    Error</label>
                            </div>
                            <div class="form-group">
                                <label for="email" class="label" th:text="#{register.label.email}">Email</label>
                                <input type="email" th:feild="*{email}" name="email" id="email"
                                       th:value="${user.email}" required
                                       pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
                                       title="Invalid email address" class="input--style-4">
                                <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</label>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="label" th:text="#{register.label.phone-number}">Phone Number</label>
                                <input type="tel" th:feild="*{phone}" name="phone" id="phone"
                                       th:value="${user.phone}" required pattern="[0]{1}[9]{1}[0-9]{9}"
                                       title="phone number must be start with 09xx-xxxxxxx and 11 digit"
                                       class="input--style-4">
                                <label th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">phone Error</label>
                            </div>
                            <div class="form-radio">
                                <label class="radio-label" th:text="#{register.label.gender}">Gender</label>
                                <div class="form-radio-item">
                                    <input type="radio" name="gender" id="male" checked>
                                    <label for="male" th:text="#{register.gender.male}">Male</label>
                                    <span class="check"></span>
                                </div>
                                <div class="form-radio-item">
                                    <input type="radio" name="gender" id="female">
                                    <label for="female" th:text="#{register.gender.female}">Female</label>
                                    <span class="check"></span>
                                </div>
                            </div>

                            <input type="hidden" th:value="${user.username}" name="username">
                            <input type="hidden" th:value="${user.password}" name="password">
                            <input type="hidden" th:value="${user.id}" name="id">
                            <input type="hidden" th:value="${user.isEnabled}" name="isEnabled">
                            <input type="hidden" th:value="${user.isDeleted}" name="isDeleted">

                            <div class="form-submit">
                                <input type="reset" th:value="#{register.button.reset-all}" class="submit" name="reset" id="reset"/>
                                <input type="submit" th:value="#{register.button.submit-form}" class="submit" name="submit" id="submit"/>
                            </div>
                        </div>

                        <div th:if="${address.contains('/admin/show/admin-list')}">
                            <h2 th:text="#{information.home.text.sub-head.if-admin}">Information form</h2>
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="firstname1" class="label" th:text="#{register.label.firstname}">Firstname</label>
                                    <input type="text" id="firstname1" th:value="${user.firstname}" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="lastname1" class="label" th:text="#{register.label.lastname}">Lastname</label>
                                    <input type="text" id="lastname1" th:value="${user.lastname}" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="username1" class="label" th:text="#{register.label.username}">Username</label>
                                <input type="text" id="username1" th:value="${user.username}" disabled>
                            </div>
                            <div class="form-group">
                                <label for="nationalCode1" class="label" th:text="#{register.label.national-code}">National Code</label>
                                <input type="text" id="nationalCode1" th:value="${user.nationalCode}" disabled>
                            </div>
                            <div class="form-group">
                                <label for="email1" class="label" th:text="#{register.label.email}">Email</label>
                                <input type="email" id="email1" th:value="${user.email}" disabled>
                            </div>
                            <div class="form-group">
                                <label for="phone1" class="label" th:text="#{register.label.phone-number}">Phone Number</label>
                                <input type="tel" th:feild="*{phone}" name="phone" id="phone1" th:value="${user.phone}"
                                       disabled>
                            </div>
                            <div class="form-radio">
                                <label class="radio-label" th:text="#{register.label.gender}">Gender</label>
                                <div class="form-radio-item">
                                    <input type="radio" id="male1" disabled checked>
                                    <label for="male1" th:text="#{register.gender.male}">Male</label>
                                    <span class="check"></span>
                                </div>
                                <div class="form-radio-item">
                                    <input type="radio" id="female1" disabled>
                                    <label for="female1" th:text="#{register.gender.female}">Female</label>
                                    <span class="check"></span>
                                </div>
                            </div>

                            <input type="hidden" th:value="${user.username}" name="username">
                            <input type="hidden" th:value="${user.password}" name="password">
                            <input type="hidden" th:value="${user.id}" name="id">
                            <input type="hidden" th:value="${user.isEnabled}" name="isEnabled">

                            <div class="form-submit">
                                <input type="submit" th:value="#{information.button.back}" class="submit" name="submit" id="submit1"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JS -->
<script src="/temp/register-form/vendor/jquery/jquery.min.js"></script>
<script src="/temp/register-form/js/main.js"></script>

<script src="/temp/register-form/js/confirm-password.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>