<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/temp/login-form/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="/temp/password/forget-password-page.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="/temp/register-form/css/style.css">
    <link rel="stylesheet" href="/temp/password/forget-password-page.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">


    <title th:text="#{change-password.title}">Password Change Page</title>

</head>

<body translate="no">
<div id="box">
    <form th:action="${address}" id="myform-search" method="post" autocomplete="off">
        <h1 th:text="#{change-password.change-password.title}" style="margin-bottom: 5px">Change Password</h1>
        <p style="color: #28a745" th:text="#{change-password.choose.title}"></p>

        <div th:if="${success}" role="alert" class="alert alert-success text-center">
            <h5 th:text="${success}"></h5>
            <p th:text="${success1}"></p>
        </div>

        <div th:if="${error}" th:text="${error}" role="alert" class="alert alert-danger text-center">
            <h5 th:text="${error}"></h5>
        </div>


        <div class="form-group" th:if="${!address.contains('/admin/verify-change-password/responsible-user')}">
            <label for="current-password" class="label"
                   th:text="#{change-password.current-password}">Current Password</label>
            <input type="password" name="current-password" id="current-password" required>
        </div>
        <div class="form-group">
            <label for="password" class="label"
                   th:text="#{change-password.new-password}">Password</label>
            <input type="password" name="password" id="password"
                   onkeyup='check();'
                   required pattern="^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{6,}$"
                   title="password must be contains at least 1 character,number,symbol and size more than 5"
                   class="input--style-4">
        </div>
        <div class="form-group">
            <label for="confirm_password" class="label"
                   th:text="#{change-password.confirm-new-password}">Confirm Password</label>
            <input type="password" name="confirm_password" id="confirm_password"
                   onkeyup='check();' required
                   pattern="^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{6,}$"
                   title="confirm password as same as password">
            <span id='message' style="font-size: 15px; font-weight: bold"></span>
        </div>
        <small style="margin-bottom: 10px; font-size: 13.5px" th:text="#{change-password.password-properties}">Must be 6+ characters long and contain at least 1 upper case letter, 1
            number, 1 special character</small>

        <div th:if="${address.contains('/admin/verify-change-password/responsible-user')}">
            <input type="hidden" name="user-id" th:value="${userId}">
        </div>

        <div class="form-submit" style="padding-top: 10px">
            <input type="submit" th:value="#{register.button.submit-form}" class="submit" name="submit"
                   id="submit" style="margin-right: 80px"/>
        </div>
    </form>
</div>
<script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-157cd5b220a5c80d4ff8e0e70ac069bffd87a61252088146915e8726e5d9f147.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="/temp/register-form/js/confirm-password.js"></script>

</body>
</html>