<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">

    <link rel="apple-touch-icon" type="image/png"
          href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png">
    <meta name="apple-mobile-web-app-title" content="CodePen">

    <link rel="shortcut icon" type="image/x-icon"
          href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico">

    <link rel="mask-icon" type=""
          href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg"
          color="#111">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/temp/login-form/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->

    <title>CodePen - Password Strength validator</title>

    <link rel="stylesheet" href="/temp/register-form/css/style.css">
    <link rel="stylesheet" href="/temp/password/forget-password-page.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">

</head>

<body translate="no">
<div id="box">
    <form th:action="@{/forget-password/result}" id="myform-search" method="post" autocomplete="off">
        <h1>Change Password <span>choose a good one!</span></h1>

        <div class="form-group">
            <label for="password" class="label"
                   th:text="#{register.label.password}">Password</label>
            <input type="password" name="password" id="password"
                   onkeyup='check();'
                   required pattern="^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{6,}$"
                   title="password must be contains at least 1 character,number,symbol and size more than 5"
                   class="input--style-4">
        </div>
        <div class="form-group">
            <label for="confirm_password" class="label"
                   th:text="#{register.label.confirm-password}">Confirm Password</label>
            <input type="password" name="confirm_password" id="confirm_password"
                   onkeyup='check();' required
                   pattern="^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{6,}$"
                   title="confirm password as same as password">
            <span id='message' style="font-size: 15px; font-weight: bold"></span>
        </div>

        <input type="hidden" name="user-id" th:value="${user.id}">

        <small style="margin-bottom: 10px">Must be 6+ characters long and contain at least 1 upper case letter, 1
            number, 1 special character</small>

        <div class="form-submit">
            <input type="submit" th:value="#{register.button.submit-form}" class="submit" name="submit"
                   id="submit" style="margin-right: 80px"/>
        </div>
    </form>
</div>
<script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-157cd5b220a5c80d4ff8e0e70ac069bffd87a61252088146915e8726e5d9f147.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="/temp/register-form/js/confirm-password.js"></script>

</body>
</html>